:root {
    --lighter-blue: #abd6e7;
    --light-blue: #56A1BF;
    --blue: #0455BF;
    --dark-blue: #033E8C;
    --darker-blue: #022859;

    --black-blue: #011526;
}

body {
    background-color: var(--black-blue);
    color: rgb(240, 240, 240);
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto', Arial, sans-serif;
}


canvas {
    border: 1px solid black;
}
.canvas-container {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0px;
}
.canvas-overflow {
    overflow-x: auto;
    width: 100%;
    margin: 20px 0px;
    padding: 0px;
}

button {
    margin-top: 20px;
}